# --- Python (FastAPI & ML) ---
.venv
__pycache__
.git
.env
*.pyc
data/
chroma_db/
.ipynb_checkpoints
venv/
env/
*.py[cod]
*$py.class
build/
dist/
*.egg-info/
.env
*.pyc
*.log

# --- Git files ---
.git
.gitignore
