fastapi
uvicorn
python-multipart
langchain==0.3.27
langchain-community
langchain-huggingface
langchain-core>=0.3.0
langchain-chroma
spacy>=3.7.0
en_core_web_md @ https://github.com/explosion/spacy-models/releases/download/en_core_web_md-3.8.0/en_core_web_md-3.8.0-py3-none-any.whl
sentence-transformers
transformers
nltk
numpy
scikit-learn
chromadb
SQLAlchemy
psycopg2-binary
boto3
python-dotenv
pydantic-settings>=2.10.1
httpx
PyPDF2
python-docx
youtube-transcript-api